$color-black: #000000;
$color-blue: #37a8ee;
$color-dark-blue: #124c7c;
$color-dark-grey: #2c2e30;
$color-green: #008000;
$color-light-green: #80ca80;
$color-grey: #e6e0e0;
$color-light-grey: #f6f8f9;
$color-red: #ff0000;
$color-dark-red: #b33030;
$color-transparent: Transparent;
$color-white: #ffffff;
$color-yellow: #f1c40f;
$color-purple: #3f1347;
$color-pink: #fe4495;
$color-orange: #fd891c;
