.talk-to-me {
  * {
    box-sizing: border-box;
  }

  width: min-content;

  &__avatar-wrapper {
    position: relative;
    z-index: 1;
    background-color: inherit;
    width: max-content;
    margin: auto;
  }

  &__button {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    display: flex;

    &:disabled {
      cursor: default;
    }
  }

  &__toggle {
    position: absolute;
    right: 0.15rem;
    bottom: 0.5rem;
  }

  &__texting {
    animation: show 0.5s ease-in forwards;
    -webkit-animation: show 0.5s ease-in forwards;

    &--hide {
      animation: hide var(--hide-duration) ease-in forwards;
      -webkit-animation: hide var(--hide-duration) ease-in forwards;
    }
  }
}

@keyframes show {
  0% {
    transform: translateY(-150%);
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    -o-transform: translateY(-150%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-150%);
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    -o-transform: translateY(-150%);
    opacity: 0;
  }
}
